.t-w-100 {
  width: 100%;
}

.t-h-100 {
  height: 100%;
}

.t-h-screen {
  height: 100vh;
}

/** Padding */
.t-p-10 {
  padding: 10px;
}

/** Margin */
.t-m-33 {
  margin: 33px;
}

.t-m-44 {
  margin: 44px;
}

.t-mt-7 {
  margin-top: 7px;
}

.t-mt-10 {
  margin-top: 10px;
}

.t-mt-20 {
  margin-top: 20px;
}

.t-mt-30 {
  margin-top: 30px;
}

.t-mt-33 {
  margin-top: 33px;
}

.t-mt-40 {
  margin-top: 40px;
}

.t-mt-44 {
  margin-top: 44px;
}


